/*
    Autor: Juan Camilo Mendoza;
    Maintainer: Juan Camilo Mendoza;
    Last modification: Juan Camilo Mendoza
*/

@import url('./../../Colors.css');

.Welcome-box{
    width: 1024px;
    height: 100%;
    color: #ffffff;
    background-color: #ffffff;
    .Left-header, .Left-content, .Left-info_box{
        display: flex;
        align-items: center;
        flex-flow: column;
    }
    .Left-content{
        padding-top: 35px;
        width: -webkit-fill-available;
    }
    .Left-info_box{
        
        padding-bottom: 15px;
        width: -webkit-fill-available;
    }
    .Left-text{
        display: flex;
        padding-bottom: 10px;  
        align-items: center;
        //width: 100%;
    }
    .Left-text-contact{
        padding-bottom: 15px;
        width: -webkit-fill-available;
    }
    .Left-title{
        text-transform: uppercase;
        padding: 10px 60px;
        border-bottom:solid 1.2px;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: 25px;
    }
    .Left-skills{
        display: flex;
        flex-flow: column;
        //width: -webkit-fill-available;
    }
    .Left-skills-name{
        font-size: 1.2rem;
        text-transform: uppercase;
        padding: 5px 5px;
    }
    .Left-skills-title{
        width: 150px;
    }
    .Left-wrap{
        display: flex;
        width: 50%;
        background: var(--dark-blue);
        align-items: center;
        padding: 35px 10px;
        flex-flow: column;
    }
    .My-img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border:solid 2px var(--orange);
    }
    .My-name{
        font-size: 1.1rem;
        text-transform: uppercase;
        padding: 15px 0px 5px 0px;
    }
    .My-profession{
        font-weight: bold;
        font-size: 1.15rem;
    }
    .Paragraph{
        display: inline-block;
        text-align: center;
        line-height: 1.4rem;
        font-size: 1.1rem;
        font-weight: 100;
    }
    .Paragraph-bold{
        font-weight: bold;
        display: inline-block;
        text-transform: uppercase;
    }   
    .Special-size{
        width: 40px;
        height: 35px;
    }
    .Special-margin{
        margin-left: 0px;
    }
}