.Bar-box{
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    //margin: 10px 0px;
}

.Bar-setion-color{
    display: flex;
    margin: 0px 10px;
}

.Bar-color{
    height: 35px;
}

.Bar_orange{
    background-color: var(--orange);
}

.Bar_white{
    background-color: #ffffff;
}

.Bar-name{
    width: 100px;
    //padding: 0px 0px 0px 10px;
    font-size: 1.2rem;
    //text-align: center
}

.Bar-number{
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    padding: 0px 0px 0px 10px;
    font-weight: 600;
    font-size: 1.2rem;
}
  