/**
	Autor: Juan Camilo Mendoza
	Maintainer: Juan Camilo Mendoza
	Last modification: Juan Camilo Mendoza
*/

/** 
    Project colors
*/
:root{
    --dark-blue: #073763ff;
    --orange: #ff9900;
    --gray:#434343;
}