@import url('./Reset.css');
@import url('./Colors.css');


body{
  font-family: 'Comfortaa', 'Montserrat';
  color: var(--black-coral);
  overflow-x: hidden;
  background-color: #ffffff;
}

.App-box{
  display: -webkit-flex;
  width: 100%;
  justify-content: center;
}

.Icon{
  width: 40px;
  height: 40px;
  margin: 10px;
}

.Icon-hobbies{
  width: 60px;
  height: 60px;
  margin: 5px;
}

a{
  color: #ffffff;
}